
   .homePageWrapper .bg-wrapper::after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(/src/assets/bgImg/bgImage.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    opacity: .98;
    content: "";
   }

   .homeBackground{
    width: 1600px;
    max-width: 100%;
   }

   .homeHeading::selection{
    background-color: gray;
   }

   .homeHeading span::selection{
    background-color: gray;
   }

   .bg-wrapper{
    position: relative;
    z-index: 1;
   }

   .headerWrapper{
    z-index: 2;
    top: 50%;
    left: 0;
    width: 100%;
    height: auto;
    margin-top: -215px;
   }


   .featureWrapper{
    padding: 130px 0px;
    background-color: #050830;
    color: white;
    overflow: hidden;
   }

   /* .featureImageWrapper{
    position: relative;
    z-index: 1;
   } */

   .circleImageWrapper{
    position: absolute;
    top: -30px;
    z-index: -1;
    opacity: 0.3;
    width: 90%;
    left: 30px;
    
   }

   .rotateme{
    animation: rotateOut1;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
   }

   @keyframes rotateOut1 {
    0% {
      opacity: 0.3;
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 200deg);
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0.3;
}
  }

  .animate__fadeInLeft.animate__animated{
    animation-delay: 0.7s;
    animation-duration: 0.7s;
  }

  .featureListWrapper::before{
    position: absolute;
    left: 25px;
    top: 0;
    width: 1px;
    height: 100%;
    background: #232861;
    content: "";
  }

 .featureList::before{
  position: absolute;
  content: "";
  left: 20px;
  top: 0;
  width: 12px;
  height: 12px;
  background: #232861;
  border-radius: 50%;
 }

 .featureList::after{
  position: absolute;
  content: "";
  left: 20px;
  bottom: 0;
  width: 12px;
  height: 12px;
  background: #232861;
  border-radius: 50%;
 }

 .featuresDiv{
  border-radius: 3px;
 }

 .featuresDiv span{
  float: left;
  border-radius: 50%;
  background: #232861;
  width: 50px;
  height: 50px;
  text-align: center;
  font-weight: 600;
  border: 1px solid #232861;
  font-size: 24px;
  line-height: 48px;
  position: relative;
  transition: 0.4s;
 }

 .featuresDiv span:hover{
  background-color: #FF06B7 !important;
  border: 1px solid #FF06B7;
 }

 .featureTitle{
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 500;
  padding-bottom: 0px;
  letter-spacing: 1px;
  line-height: 28px;
  margin-bottom: 15px;
 }

 .featureDesc{
  color: #ddd;
 }

 .bannerImgWrapper{
  width: 184px;
  margin-right: 30px;
 }

 .bannerImages{
  width: 160px;
  height: auto;
 }

 .headingDiv{
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1px;
 }

 .CoinSwapWrapper{
  padding: 130px 0px;
 }

 .sendMoneyWrapper{
  margin: 30px 30px 0px 90px;
 }

 .swapSpan{
  padding: 5px 20px;
 }

 .form label{
font-size: 14px;
font-weight: 600;
margin-bottom: 5px;
 }

 .forminput{
  border: 1px solid #0D102D;
  background: #0F1336;
  height: 52px;
  border-radius: 0px;
  padding: 5px 15px;
  width: 70%;
  margin-bottom: 20px;
  border-right: 0px solid #f1f1f1;
  color: #fff;
  font-weight: 600;
 }

 .forminput:focus{
  outline: none !important;
 }

 .form-select {
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath fill='' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  display: block;
  width: 30% !important;
  padding: 0 35px 0 24px !important;
  font-size: 17px;
  font-weight: 700 !important;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-image: var(--bs-form-select-bg-img),var(--bs-form-select-bg-icon,none);
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: 1px solid #050830 !important;
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  height: 52px !important;
} 

.form-select:focus {
  border-color: none !important;
  outline: 0;
  box-shadow: none !important;
}

input::placeholder{
  color: #fff;
  font-weight: 600;
}

.iconArrowDown{
  font-size: 20px;
    width: 36px;
    height: 36px;
    border: 1px solid #FF06B7;
    background-color: #FF06B7;
    border-radius: 50%;
    line-height: 40px;
}

.customPinkButton{
  border: 1px solid #ff06B7 !important;
  width: 100%;
  padding: 10px !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  margin-top: 20px;
}

.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0d6efd;
  --bs-btn-border-color: #0d6efd;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #FF06B7 !important;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #FF06B7 !important;
  --bs-btn-active-border-color: #FF06B7 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}

.btn:first-child:active{
  background-color: #FF06B7 !important;
}

.hiddenDiv{
  border: 2px solid white;
}

.hiddenDiv p{
  padding: 5px 16px;
  margin-bottom: 0px;
}

.marginOnCard{
  margin-top: -17px;
}

.customServiceCard::after{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: url(https://shtheme.com/demosd/graphbitwp/wp-content/themes/graphbit/img/feature/layer2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
  z-index: -1;
}

.imageClass{
  width: 80px;
  height: 80px;
}

   @media (max-width: 767px) {

    .headerContainer{
      margin-top: 0px !important;
      /* text-align: center !important; */
    }

  .homeHeaderImage{
  max-width: 330px !important;
  }

  .homeHeading{
    font-size: 28px !important;
    line-height: 17px !important;
    margin-bottom: 10px !important;
    text-align: center !important;
    width: 98% !important;
  }

  .homePageWrapper .bg-wrapper img{
    min-height: 660px !important;
    width: 100% !important;
    height: 100% !important;
  } 

  .buttonWrappper{
    justify-content: center !important;
    padding: 0px 15px !important;
  }

  .featureImg{
    width: 330px !important;
  }

  .featureBgImage{
    width: 297px !important;
  }

  .featureListWrapper{
    margin-top: 40px !important;
    margin-left: 0px !important;
  }

  .circleImageWrapper{
    left: 6px !important;
    
   }

  .bannerImages{
    width: 130px !important;
    height: auto;
   }

   .bannerContainer{
    overflow: hidden !important;
   }

   .coinSwapHeading{
    font-size: 36px !important;
   }

   .sendMoneyWrapper{
    margin: 30px 30px 0px 30px !important;
   }

   .servicesWrapper{
    margin-top: 0px !important;
   }
  
  }

  @media (min-width: 768px) and (max-width:992px){
    .homeHeaderImage{
      max-width: 330px !important;
      }

      .homeHeading{
        font-size: 36px !important;
        line-height: 48px !important;
      }

      .homeBackground {
        object-fit: cover !important; 
        min-height: 600px !important;
        width: 100% !important;
        height: 100% !important;
    }

    .headerWrapper{
      margin-top: -113px !important;
    }

    .bannerContainer{
      overflow: hidden !important;
    }

    .bannerImgWrapper{
      width: 140px !important;
     }

     .headingDiv{
      font-size: 18px !important;
     }

     .coinSwapHeading{
      font-size: 30px !important;
      line-height: 40px !important;
     }

     .sendMoneyWrapper {
      margin: 0px !important;
  }

  }



  /* second homepage2 style */

  .homeHeaderImgWrapper{
    position: relative;
    z-index: 1;
  }


  .homepage2Wrapper .homeHeaderImgWrapper::after{
    position: absolute;
    background: #0D102D;
    opacity: 0.9;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .headerWrapper2{
    z-index: 2;
    top: 50%;
    left: 0;
    width: 100%;
    height: auto;
    margin-top: -240px;
   }

   .CardServiceWrapper{
    background-color: #0D102D;
    padding: 130px 0px;
   }

   .cardStyle{
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
   }

   .cardStyle:hover{
    background-color: #131740 !important;
   }

   .serviceCard{
    padding: 36px 30px;
    position: relative;
    min-height: 310px;
    border-radius: 4px;
    z-index: 1;
   }


   @media(max-width:767px){

    .homepage2Wrapper{
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
      float: none;
    }
  
    .homeHeaderImgWrapper{
      width: 100%;
      height: 100%;
      object-fit: cover;
      min-height: 950px;
    }

    .homeHeaderImgWrapper img{
      width: 360px !important;
    }

    .headerWrapper2{
     margin-top: -380px !important;
     text-align: center !important;
     }

     .metaverseHeading{
      font-size: 28px !important;
     }

     .homepage2Wrapper .homeHeaderImgWrapper::after{
      opacity: 1 !important;
     }

     .contactBtn{
      margin-left: 0px !important;
     }

     .btnDiv{
      width: 50% !important;
     }
    
   }

