.purchaseTokenWrapper{
    background-color: #101436;
    padding: 130px 0px;
}

.purchaseTimingContainer{
    padding: 30px;
    border-radius: 5px;
}

.single-count{
    border: 1px solid #FF06B7;
    border-radius: 2px;
    width: 70px;
    line-height: 70px !important;
    margin: 0px 5px 10px;
}

.presaleTarget::before{
    content: "";
    position: absolute;
    bottom: 26px;
    right: 29px;
    transform: translate(-50%);
    width: 1px;
    height: 15px;
    z-index: 1;
    background: #eee;
}

.softCapTarget::before{
    content: "";
    position: absolute;
    bottom: 26px;
    right: 29px;
    transform: translate(-50%);
    width: 1px;
    height: 15px;
    z-index: 1;
    background: #eee;
}

.progress-bar{
    background-color: #FF06B7 !important;
    border-radius: 50px !important;
}