.mean-nav{
  display: none;
}

.navbar{
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 999;
 }

.navbar-brand::selection{
  background-color: gray;
}

.tokenButton{
  display: none;
}

.appbar{
  background: transparent;
  position: absolute !important;
 }
  
   .bg-stick{ 
    left: 0;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 999999;
    box-shadow: 0px 0px 3px #131740, -2px -2px 3px #131740;
    background: rgba(19,23,64,0.80) !important;

   }

   .plusIcon{
    display: none;
   }
   
   .navbar-collapse {
    flex-grow: 0 !important;
   }

   .nav-link{
    color: white !important;
    padding: 40px 0px !important;
  }
  
  .nav-link:hover{
    color: #FF06B7 !important;
  }

  .navButton{
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
  }

  .navbar-toggler svg{
    color: #FF0060 !important;
  }

  .navbar-toggler:focus{
    box-shadow: none !important ;
  }


  @media (max-width: 767px) {

    .largeScreenNavbar{
      display: none !important;
    }

    .mean-nav{
      display: inline !important; 
    }

    .tokenButton{
      display: none !important;
    }
  
    .appbar{
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  
  .appbar h1{
      font-size: 32px !important;
      line-height: 42px !important;
      margin-bottom: 10px !important;
    }

    .navbar-collapse {
      background: #131740 !important;
    }

    .nav-link{
      font-size: 18px !important;
      font-weight: 600 !important;
    }

    .drop-icon{
      width: 25px !important;
      height: 25px !important;
    }

    .container{
      padding: 0px !important;
    }

  .token-btn{
    font-size: 24px !important;
  }
  .chevronIcon{
    display: none !important;
  }

  .plusIcon{
    display: inline !important;
  }



  }

  @media (min-width: 768px) and (max-width: 990px){

    .largeScreenNavbar{
      display: none !important;
    }
    .mean-nav{
      display: inline !important; 
    }

    .mean-nav ul{
      margin-bottom: 0 !important;
    }

    mean-nav ul li {
      position: relative;
      float: left;
      width: 100%;
  }

.mean-nav ul li a{
  border-top: 1px solid #232861;
  color: #fff;
  display: block;
  float: left;
  margin: 0 0 0 -31px;
  padding: 10px 5%;
  text-align: left;
  text-decoration: none;
  text-transform: capitalize;
  width: 92%;
  font-size: 14px;
}

.mean-nav ul li a.mean-expand{
  background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
  border-color: currentcolor currentcolor rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.4);
  border-image: none;
  border-style: none none solid solid;
  border-width: medium medium 1px 1px;
  font-weight: 700;
  height: 42px;
  margin-top: 1px;
  padding: 7px 12px;
  right: 0;
  text-align: center;
  top: 0;
  width: 49px;
  z-index: 2;
  position: absolute;
}

    .tokenButton{
      display: block !important;
      padding: 15px 0px !important;
      margin-left: 272px !important;
    }

    .navbar-collapse {
      background: #131740 !important;

    } 
    .chevronIcon{
      display: none !important;
    }
  
    .plusIcon{
      display: inline !important;
    }
    .drop-icon{
      width: 25px !important;
      height: 25px !important;
    }


  }