 body{
  font-family: 'Nunito', sans-serif !important;
  color: #ddd !important;
  font-size: 16px !important;
 }

 .bg-darkBlue{
  background-color: #050830 !important;
 }

 .bg-blue{
  background-color: #131740 !important;
 }


 .dropdown-menu{
  background-color: #131740 !important;
width: 230px !important;
padding: 15px 0px !important;
top: 60px !important;
border-radius: 0px !important;
 }

 .dropdown-item{
  padding: 12px 30px !important;
    font-size: 14px !important;
 }

 .dropdown-item:hover{
  background: #232861 !important;
  color: #FF06B7 !important;
 }

 .dropdown-item:focus{
  background: #232861 !important;
  color: #FF06B7 !important;
 }

 #collasible-nav-dropdown{
  color: white !important;
 }

 .btn{
 border-radius: 0 !important;
 }


.dropdown-toggle::after {
    display: none !important;
    margin-left: 0 !important;
    vertical-align: 0 !important;
    content: "";
    border-top: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
}

.dropdown-menu{
  top: 100% !important;
}

.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: 0;
  margin-top: 0px !important;
}

.bg-image{
  background-image: url("/src/assets/bgImg/bgImage.webp");
  background-size:cover ;
}


.pink-btn{
  border: 1px solid #FF06B7;
  background-image: linear-gradient(30deg, #FF06B7 50%, transparent 50%);
}

.purple-btn{
  border: 1px solid #AB46D2;
  background-image: linear-gradient(30deg, #AB46D2 50%, transparent 50%);
}

.purple-btn:hover{
  color: #AB46D2 !important;
  background-position: 100% !important;
  background-color: transparent !important;
  background-image: linear-gradient(30deg, #AB46D2 50%, transparent 50%);
}

.pink-btn:hover{
  color: #FF06B7 !important;
  background-position: 100% !important;
  background-color: transparent !important;
  background-image: linear-gradient(30deg, #FF06B7 50%, transparent 50%);
}


.buttonWrapper{
  margin-left: 60px;
}


.btn-primary{
  --bs-btn-bg: #FF06B7 !important;
  --bs-btn-hover-border-color: #FF06B7 !important;
}

.scroll-to-top{
  background: #FF06B7 !important;
  height: 52px !important;
  width: 48px !important;
  right: 50px !important;
  bottom: 77px !important;
  color: #fff !important;
  font-size: 20px !important;
  text-align: center !important;
  border-radius: 3px !important;
  line-height: 52px !important;
  border: 1px solid #FF06B7 !important;
  transition: 0.04s !important;
}

.scroll-to-top:hover{
  background-color: #AB46D2 !important;
  border-color: #AB46D2 !important;
}

@media (min-width:1320px) {
  .container{
    max-width: 1140px !important;
  }
}

@media (max-width: 767px) {

.buttonWrapper{
  margin-left: 16px !important;
  margin-top: 10px !important;
}

}

@media (min-width: 768px) and (max-width:992px){
  .container{
    max-width: 720px !important;
  }
}
